name: build
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
      PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17'
      - name: Build
        run: make build
      - name: Install Pact.io
        run: make pact-setup
      - name: Add Pact.io in path
        run: export PATH=$PATH:/opt/pact/bin
      - name: Test
        run: echo $PATH; ls /opt/; ls /opt/pact

