name: build
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    container: fredericgendebien/golang:pact-alpine
    env:
      PACT_BROKER_URL: ${{ secrets.PACT_BROKER_URL }}
      PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: make build
      - name: Test
        run: make -e test

